<!-- Menu -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">La Bonne Affaire</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ajouter">Ajouter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <div id="alertMsg">
  <p>
    {{ message }}
  </p>
  </div>
<!-- <div class="d-flex justify-content-around align-items-center" style="padding-top: 2%; font-size: 1.5rem;"> -->
    <div id="home">
  <app-article
  *ngFor  = "let element of liste" 
  [titreArticle]="element.titreArticle" 
  [prixArticle]="element.prixArticle" 
  [description]="element.description" 
  [urlImg]="element.urlImg" 
  [textAltImg]="element.textAltImg" 
  [dispo]="element.dispo" 
  (info)="onAffiche($event)">
</app-article>
  <!-- <app-article [titreArticle]=" 'airpod' " [prixArticle]="prix2" (info)="onAffiche($event)"></app-article>
  <app-article [titreArticle]=" 'ordinateur' " [prixArticle]="prix3" (info)="onAffiche($event)"></app-article> -->
</div>
</div>


<!-- <router-outlet></router-outlet> -->

<!-- Pied de page -->
<footer class=" py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; La Bonne Affaire</p>
  </div>
</footer>